window#osd {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  background: #000000;

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #111111;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #111111;
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #111111;
  }
}
