/*-----All Colors--------*/

@define-color background #151218;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #322f35;

@define-color inverse_primary #6a548d;

@define-color inverse_surface #e7e0e8;

@define-color on_background #e7e0e8;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #3a255b;

@define-color on_primary_container #ecdcff;

@define-color on_primary_fixed #250e45;

@define-color on_primary_fixed_variant #523c73;

@define-color on_secondary #352d40;

@define-color on_secondary_container #ebdef7;

@define-color on_secondary_fixed #1f182a;

@define-color on_secondary_fixed_variant #4c4357;

@define-color on_surface #e7e0e8;

@define-color on_surface_variant #cbc4cf;

@define-color on_tertiary #4b252e;

@define-color on_tertiary_container #ffd9df;

@define-color on_tertiary_fixed #321019;

@define-color on_tertiary_fixed_variant #643b44;

@define-color outline #958e99;

@define-color outline_variant #4a454e;

@define-color primary #d5bbfc;

@define-color primary_container #523c73;

@define-color primary_fixed #ecdcff;

@define-color primary_fixed_dim #d5bbfc;

@define-color scrim #000000;

@define-color secondary #cec2db;

@define-color secondary_container #4c4357;

@define-color secondary_fixed #ebdef7;

@define-color secondary_fixed_dim #cec2db;

@define-color shadow #000000;

@define-color source_color #492d73;

@define-color surface #151218;

@define-color surface_bright #3b383e;

@define-color surface_container #211e24;

@define-color surface_container_high #2c292f;

@define-color surface_container_highest #37333a;

@define-color surface_container_low #1d1a20;

@define-color surface_container_lowest #100d12;

@define-color surface_dim #151218;

@define-color surface_tint #d5bbfc;

@define-color surface_variant #4a454e;

@define-color tertiary #f1b7c3;

@define-color tertiary_container #643b44;

@define-color tertiary_fixed #ffd9df;

@define-color tertiary_fixed_dim #f1b7c3;

