[user]
	email = varunadhitya.balaji@gmail.com
	name = varunadhityagb
[init]
  defaultBranch = main
[core]
  editor = emacsclient
[diff]
  tool = vimdiff
[credential]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
