.config/clipse/tmp_files/
.config/clipse/clipboard_history.json
.config/clipse/clipse.log
hello.json
papers_list
wallpaper.bak/
sample.html
/.config/gtk-3.0/bookmarks
/.config/gtk-3.0/dank-colors.css
/.config/gtk-4.0/dank-colors.css
/.beads/
