import "../waybar/colors.css";

.calendar-container {
  background-image: linear-gradient(
      to bottom,
      alpha(@surface_container, 0.25),
      rgba(0, 0, 0, 0.025)
  );
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.34);
  margin: 4px;
  padding: 8px 12px;
  border-radius: 12px;

  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: alpha(@primary_fixed, 0.15);
  border-top-color: alpha(@primary_fixed, 0.45);
  border-width: 1px;

  color: white;
}

/* Styling GTK calendar internals */
.calendar-gtk {
  background: transparent;
  color: white;
  font-family: "JetBrains Mono", monospace;
  padding: 4px;
}

/* Days */
.calendar-gtk:selected {
  background-color: alpha(@primary_fixed, 0.35);
  border-radius: 6px;
}

.calendar-gtk:hover {
  background-color: alpha(@primary_fixed, 0.25);
  border-radius: 6px;
}

/* Month header */
.calendar-gtk.header {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Weekday names */
.calendar-gtk:dir(ltr) {
  color: alpha(white, 0.85);
}
