@import "colors.css";
@define-color accent_color @primary_fixed;

* {
    border: none;
    border-radius: 8;
    min-height: 0;
    font-family: "SF Pro Display";
    font-size: 15px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
}

.modules-left,
.modules-right,
.modules-center {
    padding: 1px;
}

window#waybar {
    border-radius: 12px;
    border-width: 1px;
    border-bottom-width: 1px;
    padding: 0px;

    border-style: solid;
    border-color: alpha(@primary_fixed, 0.2);
}

tooltip {
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-top-color: alpha(@primary_fixed, 0.4);
    border-bottom-color: alpha(@primary_fixed, 0.25);
}
tooltip label {
    color: white;
}

#clock,
#pulseaudio,
#network,
#battery,
#bluetooth,
#power-profiles-daemon,
#custom-expand,
#custom-expand2,
#custom-updates,
#cpu,
#memory,
#disk,
#custom-exit,
#custom-dnd,
#workspaces,
#mpris,
#cava,
#tray,
#submap {
    background-image: linear-gradient(
        to bottom,
        alpha(@primary_fixed, 0.25),
        rgba(0, 0, 0, 0.025)
    );
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.34);
    margin: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    color: rgb(255, 255, 255);

    /* Important style feature in order to give a glassy look! */
    /* I'm using the top and bottom borders to mimic highlights in highly reflective surfaces, looks good with the glassy-look */
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.45);
    border-width: 1px;
}

#tray menu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.25)
    );
    color: rgba(220, 220, 220, 1);
    padding: 4px;
}
#tray menu menuitem {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        alpha(@primary_fixed, 0.15),
        rgba(255, 255, 255, 0.3)
    );
    margin: 3px;
    color: rgb(255, 255, 255);
    border-radius: 4px;

    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.3);
    border-width: 1px;
}
#tray menu menuitem:hover {
    color: @accent_color;
    text-shadow: 0px 0px 6px @accent_color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#workspaces button {
    transition-duration: 100ms;
    all: initial;
    min-width: 0;
    color: rgb(255, 255, 255);
    margin-right: 0.2cm;
    margin-left: 0.2cm;
    text-shadow: 0px 0px 4px rgb(135, 135, 135);
}

#workspaces button.active {
    color: @primary_fixed;
    text-shadow: 0px 0px 6px @primary_fixed;
}

#workspaces button:hover {
    transition-duration: 120ms;
    color: @primary_fixed;
    text-shadow: 0px 0px 8px @primary_fixed;
}

#workspaces button.current_output {
    color: @secondary_fixed;
}

#workspaces button.urgent {
    color: #e78a4e;
    text-shadow: 0px 0px 6px #e78a4e;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #fcf520;
}

#battery.critical:not(.charging) {
    color: red;
}
#battery.warning:not(.charging) {
    color: #ffdb81;
}

#battery.charging {
    color: green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

#custom-expand,
#custom-expand2 {
    font-size: 16px;
    color: @primary;
    transition: all 0.3s ease;
}
