@import "colors.css";

* {
    font-family: "SF Pro Bold";
    font-size: 16;
}

.modules-left {
    padding: 7px;
    margin: 3px 5px 0px 7px;
}

.modules-right {
    padding: 7px;
    margin: 3px 5px 0px 5px;
}

.modules-center {
    padding: 7px;
    margin: 3px 7px 0px 5px;
}

window#waybar {
    all: unset;
    background-color: alpha(@primary_container, 0.5);
    padding: 10px;
}

tooltip {
    border-radius: 10px;
    background-color: @background;
    opacity: 0.8;
}

tooltip label {
    color: @on_background;
}

#clock,
#pulseaudio,
#network,
#battery,
#bluetooth.connected,
#power-profiles-daemon,
#custom-expand,
#custom-expand2,
#cpu,
#memory,
#disk,
#custom-exit,
#workspaces,
#mpris,
#cava {
    color: @primary;
    margin: 0px 6px;
    padding-right: 8px;
    font-weight: bold;
    border-radius: 6px;
}

#workspaces button {
    all: unset;
    padding: 0px 10px;
    color: alpha(@primary, 0.7);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @primary;
    background-color: @primary;
    min-width: 60px;
    padding: 0px 3px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#pulseaudio.muted {
    color: #eb4d4b;
}

#battery.critical:not(.charging) {
    color: red;
}
#battery.warning:not(.charging) {
    color: #ffdb81;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

label:focus {
    background-color: @primary;
}

#custom-expand,
#custom-expand2 {
    font-size: 16px;
    color: @primary;
    transition: all 0.3s ease;
}
