@import "colors.css";
@define-color accent_color @primary_fixed;

* {
    border: none;
    border-radius: 8;
    min-height: 0;
    font-family: "SF Pro Display Bold";
    font-size: 14px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
}

#window {
    padding: 0px 100px;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0px 10px;
    border-width: 0px;
    box-shadow: inset 1 1 2 1 alpha(white, 0);
}

window#waybar {
    color: rgb(255, 255, 255);
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary, 0.45);
    border-top-color: alpha(@primary, 0.95);
    border-left-color: alpha(@primary, 0.3);
    border-right-color: alpha(@primry, 0.3);
    border-width: 2px;
    background: alpha(@background, 0.37);
    box-shadow: inset 1 1 2 1 alpha(white, 0.2);
    border-radius: 50px;
    margin: 10px;
}

.modules-right {
    padding-right: 5px;
    padding-top: 1px;
}

.modules-left {
    padding-left: 5px;
    padding-top: 1px;
}

tooltip {
    margin: 4px;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.45);
    border-width: 1px;
    background: alpha(#101010, 0.37);
    box-shadow: inset 1 1 2 1 alpha(white, 0.2);
    border-radius: 0px;
}

tooltip label {
    color: white;
}

#clock,
#pulseaudio,
#network,
#battery,
#bluetooth,
#power-profiles-daemon,
#custom-expand,
#custom-expand2,
#custom-updates,
#cpu,
#memory,
#disk,
#custom-exit,
#custom-dnd,
#workspaces,
#mpris,
#cava,
#tray,
#submap {
    margin: 4px;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.45);
    border-width: 0px;
    background: alpha(@background, 0);
    /* box-shadow: inset 1 1 2 1 alpha(white, 0.2); */
    border-radius: 10px;
    transition:
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        border 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#tray menu {
    margin: 4px;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.45);
    border-width: 1px;
    background: alpha(#101010, 0.37);
    box-shadow: inset 1 1 2 1 alpha(white, 0.2);
    border-radius: 10px;
}

#tray menu menuitem {
    margin: 4px;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.45);
    border-width: 1px;
    background: alpha(#101010, 0.37);
    box-shadow: inset 1 1 2 1 alpha(white, 0.2);
    border-radius: 10px;
}
#tray menu menuitem:hover {
    color: @accent_color;
    text-shadow: 0px 0px 6px @accent_color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#workspaces {
    margin: 4px;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: alpha(@primary_fixed, 0.15);
    border-top-color: alpha(@primary_fixed, 0.45);
    border-width: 0px;
    /* background: alpha(@background, 0.37); */
    /* box-shadow: inset 1 1 2 1 alpha(white, 0.2); */
    border-radius: 100px;
}

#workspaces button {
    transition-duration: 100ms;
    all: initial;
    min-width: 0;
    color: rgb(200, 200, 200);
    margin-right: 0.2cm;
    margin-left: 0.2cm;
    text-shadow: 0px 0px 4px rgb(135, 135, 135);
}

#workspaces button.active {
    color: @primary_fixed;
    text-shadow: 0px 0px 6px @primary_fixed;
}

#workspaces button:hover {
    transition-duration: 120ms;
    color: @primary_fixed;
    text-shadow: 0px 0px 8px @primary_fixed;
}

#workspaces button.current_output {
    color: @secondary_fixed;
}

#workspaces button.urgent {
    color: #e78a4e;
    text-shadow: 0px 0px 6px #e78a4e;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #fcf520;
}

#battery.critical:not(.charging) {
    color: #900a00;
}
#battery.warning:not(.charging) {
    color: #ffdb81;
}

#battery.charging {
    color: #90ee90;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

#custom-expand,
#custom-expand2 {
    font-size: 16px;
    color: @primary;
    transition: all 0.3s ease;
}
