:root {
    --standalone-color-oklab: max(l, 0.85) a b;
    --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
    --destructive-color: oklab(from var(--destructive-bg-color) var(--standalone-color-oklab));
    --success-color: oklab(from var(--success-bg-color) var(--standalone-color-oklab));
    --warning-color: oklab(from var(--warning-bg-color) var(--standalone-color-oklab));
    --error-color: oklab(from var(--error-bg-color) var(--standalone-color-oklab));
}

@import "./colors.css";